Let's use this: https://navigation.ros.org/configuration/packages/configuring-costmaps.html with sources fixed
plugins: ["static_layer", "obstacle_layer", "voxel_layer", "inflation_layer"]

GLOBAL

global_costmap -> gm (extends beyond the immediate robot's surroundings)
gm-footprint_padding -> The "footprint padding" parameter is used to add a buffer or padding around the robot's footprint in the costmap. The area the robot occupies.
gm-update_frequency -> the rate at which the costmap is updated with new sensor data or other relevant information about the environment. number of updates per second
gm-resolution ->  the granularity or resolution of the grid used to represent the environment.
gm-always_send_full_costmap -> controls whether the full costmap or only the parts that have changed are sent to subscribers when publishing costmap updates

GLOBAL::OBSTACLE

gm-ol -> gloal_costmap / osbtacle layer (responsible for incorporating information about obstacles into the costmap, which is a grid-based representation of the environment used by the robot for path planning and navigation.)
gm-ol-combination_method -> determines how multiple layers or sources of information are combined to update the costmap

gm-ol-scan-obstacle_max_range -> specifies the maximum range at which obstacles are considered by the obstacle layer when processing laser scan data
gm-ol-scan-raytrace_max_range -> specifies the maximum range up to which the costmap's ray tracing algorithm is used to clear cells in the costmap
gm-ol-scan-clearing -> specifies whether or not the costmap should clear space based on the data from laser scans
gm-ol-scan-marking -> When "marking" is enabled, the costmap will mark cells within the laser scan range as obstacles.
gm-ol-scan-inf_is_valid -> determines whether the costmap considers infinity (represented as "inf" or "∞") as a valid value

GLOBAL::VOXEL
gm-vx-z_voxels -> specifies the number of voxels or cells in the vertical (Z) direction of the voxel grid map
gm-vx-unknown_threshold -> defines the threshold value used to determine whether a voxel in the voxel grid map is considered unknown or unexplored.
gm-vx-mark_threshold -> defines the threshold value used to determine whether a voxel in the voxel grid map should be marked as occupied or unoccupied based on the sensor measurements.

GLOBAL::STATIC (FIXED)
It provides a way to incorporate static environmental features, such as walls, buildings, or other permanent obstacles, into the costmap
gm-st-transform_tolerance -> specifies the time duration for which the static map data's transform (e.g., from the map frame to the robot's frame) is considered valid. 

GLOBAL::INFLATION
responsible for creating a buffer around obstacles in the costmap to ensure that the robot maintains a safe distance from obstacles during navigation
gm-inf-inflation_radius -> specifies the radius of influence around obstacles within which the cost values are increased
gm-inf-cost_scaling_factor -> determines the scaling factor applied to the inflated cost values around obstacles.

LOCAL

local_costmap -> lm
lm-rolling_window -> the costmap's grid is centered around the robot's current position, and only a portion of the costmap
lm-width -> specifies the horizontal size of the local costmap grid in meters
lm-height -> specifies the vertical size of the local costmap grid in meters
